

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@font-face {
  font-family: "questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/questrial-regular.ttf") format("woff2"),
    url("/fonts/questrial-regular.ttf") format("woff");
}

html {
  font-family: "questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

