<section style="background:#ececec;">
  <div class="py-20">

    <h2 class="text-xl font-semibold text-black mb-10">
      DOCENTI
    </h2>

    <div class="grid md:grid-cols-4 gap-6 text-center">

      <div>
        <img src="/images/doc1.jpg" class="rounded-lg mb-3 grayscale hover:grayscale-0 transition">
        <p class="font-medium">Chiara Passa</p>
      </div>

      <div>
        <img src="/images/doc2.jpg" class="rounded-lg mb-3 grayscale hover:grayscale-0 transition">
        <p class="font-medium">Marco Donato</p>
      </div>

      <div>
        <img src="/images/doc3.jpg" class="rounded-lg mb-3 grayscale hover:grayscale-0 transition">
        <p class="font-medium">Valentina Vetri</p>
      </div>

      <div>
        <img src="/images/doc4.jpg" class="rounded-lg mb-3 grayscale hover:grayscale-0 transition">
        <p class="font-medium">Andrea Nucera</p>
      </div>

    </div>

  </div>
</section>
